# Node
**/node_modules/
middleware/.env

# Flutter
mobile-flutter/.dart_tool/
mobile-flutter/build/
mobile-flutter/.flutter-plugins
mobile-flutter/.flutter-plugins-dependencies

# MSBuild / dotnet
**/bin/
**/obj/
*.user

# Builds
builds/

# Temp / Scratch files
scratch/
middleware/test_filiais.js

# Binary files
*.exe
*.dll

