set names utf8;
set term ^ ;
EXECUTE BLOCK FORMAT JSON AS
BEGIN
  -- Empty block just to test
END^
set term ; ^
SELECT RDB$RELATION_NAME FROM RDB$RELATIONS WHERE RDB$SYSTEM_FLAG = 0 AND RDB$VIEW_BLR IS NULL;
quit;
